@import url(base.css);

body.active{
    overflow-y: hidden;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 99;

    background-color: #00000034;
    backdrop-filter: blur(10px);
}
.overlay.active{
    display: block;
}

.scroll-up .header{
    box-shadow: 3px 3px 10px #00000042;
}
.scroll-down .header{
    transform: translate3d(0, -100%, 0);
}

.header{
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-inline: 1.4rem;
    z-index: 999;

    background-color: #fff;
    transition: all .3s ease-in-out;
}
.logo{
    font-size: clamp(1.4rem, 2vh, 1.6rem);
}
.mobile-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 30px;
    height: 30px;

    border: none;
    background-color: transparent;
}
.mobile-icon span{
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all .3s ease;
}
.mobile-icon.active span:nth-child(1){
    transform: rotate(45deg) translateY(14px);
}
.mobile-icon.active span:nth-child(2){
    opacity: 0;
}
.mobile-icon.active span:nth-child(3){
    transform: rotate(-45deg) translateY(-14px);
}

.menu-nav{
    display: none;
}
.side-menu-nav{
    position: fixed;
    top: 50px;
    right: -60%;
    width: 55%;
    height: 100dvh;
    z-index: 999;

    background-color: #fff;
    transition: .3s ease-in-out;
}
.side-menu-nav.active{
    right: 0;
}

.hero{
    height: 120dvh;

    background-image: url(../assets/band/band-img6.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

.rainbow{
    overflow-x: hidden;

    animation: slide-in linear both;
    animation-timeline: view();
}
.strip{
    height: 5px;
}
.red{
    background-color: #CC102D;
}
.orange{
    background-color: #E88514;
}
.yellow{
    background-color: #FFFF28;
}
.green{
    background-color: #7DC62C;
}
.blue{
    background-color: #71C0DE;
}
.purple{
    background-color: #634C8A;
}

@keyframes slide-in{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: rotateX(0);
    }
}

.band-members{
    padding-block: 3rem;
    margin: auto;
}
.members-box{
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    padding-block: 3rem;
}
.member-card{
    position: relative;
    width: 80%;
    height: 500px;
    margin: auto;

    overflow: hidden;
    border: 1px solid;
}
.member-card img{
    position: relative;
    width: 100%;
    height: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: #fff;
    background-color: #00000077;
    backdrop-filter: blur(5px);

    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.info h3{
    font-size: 2rem;
    margin-block: 1rem;
}
.info p{
    width: 90%;
    margin-inline: auto;

    text-align: justify;
    color: #e2e2e2;
}

.member-card img:hover{
    transform: scale(1.1);
}
.member-card:hover .info{
    opacity: 1;
}

.about{
    padding-block: 3rem;
}
.about p{
    width: 90%;
    margin-inline: auto;
    padding-block: 1rem;

    text-align: justify;
}

.discography{
    padding-block: 3rem;
    overflow: hidden;
    border: 1px solid;
}
.discography h2{
    margin-bottom: 1rem;
}
.discography p{
    width: 90%;
    margin-inline: auto;
    margin-bottom: 3rem;

    text-align: justify;
}
.discography button{
    display: block;
    padding: 10px 15px;
    margin-inline: auto;
    margin-top: 3rem;

    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-weight: 600;

    background-color: transparent;
    transition: transform .3s ease-in-out;
}
.discography button:hover{
    transform: scale(1.1);
}
.discography .albuns-slider{
    position: relative;
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
}
.discography .albuns-slider .album-card{
    position: absolute;
    right: 100%;
    width: var(--width);
    height: var(--height);

    animation: autoRun 20s linear infinite;
    animation-delay: calc((20s / var(--quantity)) * (var(--position) - 1));
}
.albuns-slider{
    width: 100%;
    height: var(--height);
}
.album-card img{
    width: 100%;
    height: 100%;
}
@keyframes autoRun {
    from{
        right: 100%;
    }
    to{
        right: calc(var(--width) * -1);
    }
}
.albuns-slider:hover .album-card{
    animation-play-state: paused !important;
}