@import url(base.css);

body.active{
    overflow-y: hidden;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 99;

    background-color: #00000034;
    backdrop-filter: blur(10px);
}
.overlay.active{
    display: block;
}

.scroll-up .header{
    box-shadow: 3px 3px 10px #00000042;
}
.scroll-down .header{
    transform: translate3d(0, -100%, 0);
}

.header{
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-inline: 1.4rem;
    z-index: 999;

    background-color: #fff;
    transition: all .3s ease-in-out;
}
.logo{
    font-size: clamp(1.4rem, 2vh, 1.6rem);
}
.mobile-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 30px;
    height: 30px;

    border: none;
    background-color: transparent;
}
.mobile-icon span{
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all .3s ease;
}
.mobile-icon.active span:nth-child(1){
    transform: rotate(45deg) translateY(14px);
}
.mobile-icon.active span:nth-child(2){
    opacity: 0;
}
.mobile-icon.active span:nth-child(3){
    transform: rotate(-45deg) translateY(-14px);
}

.menu-nav{
    display: none;
}
.side-menu-nav{
    position: fixed;
    top: 50px;
    right: -60%;
    width: 55%;
    height: 100dvh;
    z-index: 999;

    background-color: #2bff00;
    transition: .3s ease-in-out;
}
.side-menu-nav.active{
    right: 0;
}

.hero{
    height: 120dvh;

    background-image: url(../assets/band/band-img6.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

.rainbow{

    overflow-x: hidden;

    animation: slide-in linear both;
    animation-timeline: view();
}
.strip{
    height: 5px;
}
.red{
    background-color: #CC102D;
}
.orange{
    background-color: #E88514;
}
.yellow{
    background-color: #FFFF28;
}
.green{
    background-color: #7DC62C;
}
.blue{
    background-color: #71C0DE;
}
.purple{
    background-color: #634C8A;
}

@keyframes slide-in{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: rotateX(0);
    }
}

.band-members{
    padding-block: 3rem;
    margin: auto;
}
.band-members h2{
    text-align: center;
    font-size: clamp(1.5rem, 6vw, 3rem);
}
.members-box{
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    padding-block: 3rem;
}
.member-card{
    width: 80%;
    height: 500px;
    margin: auto;

    overflow: hidden;
    border: 1px solid;
}
.member-card img{
    position: relative;
    width: 100%;
    height: 100%;

    cursor: pointer;
    transition: transform .4s ease;
}
.member-card img:hover{
    transform: scale(1.1);
}

.member-desc-card{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;

    background-color: #fff;
}
.member-desc-card button{
    width: 50px;
    height: 50px;

    font-size: 1.7rem;

    border: none;
    background-color: transparent;
}
.member-desc-card img{
    width: 100%;
}
.member-desc-card h3{
    margin-block: 1rem;

    text-align: center;
    font-size: 2rem;
}
.member-desc-card p{
    width: 80%;
    margin: auto;
    margin-bottom: 3rem;

    text-align: justify;
}
