@import url(base.css);


body{
    background-color: var(--main-color);
}
body.active{
    overflow-y: hidden;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 99;

    background-color: #00000034;
    backdrop-filter: blur(10px);
}
.overlay.active{
    display: block;
}

.scroll-up .header{
    border-bottom: 1px solid var(--border-color);
}
.scroll-down .header{
    transform: translate3d(0, -100%, 0);
}

.header{
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-inline: 1.4rem;
    z-index: 999;

    background-color: var(--main-color);
    transition: all .3s ease-in-out;
}
.logo{
    font-size: clamp(1.4rem, 2vh, 1.6rem);
}
.mobile-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 30px;
    height: 30px;

    border: none;
    background-color: transparent;
}
.mobile-icon span{
    width: 100%;
    height: 2px;
    background-color: var(--border-color);
    transition: all .3s ease;
}
.mobile-icon.active span:nth-child(1){
    transform: rotate(45deg) translateY(14px);
}
.mobile-icon.active span:nth-child(2){
    opacity: 0;
}
.mobile-icon.active span:nth-child(3){
    transform: rotate(-45deg) translateY(-14px);
}

.menu-nav{
    display: none;
}
.menu-nav ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu-nav a{
    font-size: .8rem;
    color: var(--text-color);
}
.menu-nav a:hover{
    color: #fff;
}

.side-menu-nav{
    position: fixed;
    top: 50px;
    right: -60%;
    width: 55%;
    height: 100dvh;
    z-index: 999;

    background-color: var(--secondary-color);
    transition: .3s ease-in-out;
}
.side-menu-nav.active{
    right: 0;
}
.side-menu-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 90%;
}
.side-menu-nav li{
    width: 80%;
    padding: 1rem;
    text-align: center;
    border: 1px solid;
    color: var(--text-color);

    transition: .2s ease-in-out;
}
.side-menu-nav li:nth-child(1):hover{
    background-color: #CC102D;
}
.side-menu-nav li:nth-child(2):hover{
    background-color: #E88514;
}
.side-menu-nav li:nth-child(3):hover{
    background-color: #FFFF28;
}
.side-menu-nav li:nth-child(4):hover{
    background-color: #7DC62C;
}
.side-menu-nav li:nth-child(5):hover{
    background-color: #71C0DE;
}
.side-menu-nav li:nth-child(6):hover{
    background-color: #634C8A;
}
.side-menu-nav a{
    font-family: var(--floyd-font);
    font-size: 1.1rem;
    color: var(--text-color);
}
.side-menu-nav li:hover a{
    color: #fff;
    font-weight: 600;
    text-shadow: 3px 3px #000000ad;
}

.hero{
    height: 120dvh;

    background-image: url(../assets/band/band-img6.png);
    background-repeat: none;
    background-size: cover;
}

.rainbow{
    overflow-x: hidden;

    animation: slide-in linear both;
    animation-timeline: view();
}
.strip{
    height: 5px;
}
.red{
    background-color: #CC102D;
}
.orange{
    background-color: #E88514;
}
.yellow{
    background-color: #FFFF28;
}
.green{
    background-color: #7DC62C;
}
.blue{
    background-color: #71C0DE;
}
.purple{
    background-color: #634C8A;
}

@keyframes slide-in{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: rotateX(0);
    }
}

.band-members{
    padding-block: 3rem;
    margin: auto;
}
.members-box{
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    padding-block: 3rem;
}
.member-card{
    position: relative;
    width: 80%;
    height: 500px;
    margin: auto;

    overflow: hidden;
    border: 1px solid;
}
.member-card img{
    position: relative;
    width: 100%;
    height: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #000000b7;
    backdrop-filter: blur(10px);

    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.info h3{
    font-size: 2rem;
    margin-block: 1rem;
}

.member-card img:hover{
    transform: scale(1.1);
}
.member-card:hover .info{
    opacity: 1;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 120dvh;
    padding-block: 3rem;

    background-image: url(../assets/band/band-img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.about p{
    color: var(--title-color);
}

.discography{
    padding-block: 3rem;
    overflow: hidden;
}
.discography h2{
    margin-bottom: 1rem;
}
.discography p{
    margin-block: 3rem;
}
.discography .albuns-slider{
    position: relative;
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    background-color: var(--secondary-color);
}
.discography .albuns-slider .album-card{
    position: absolute;
    right: 100%;
    width: var(--width);
    height: var(--height);

    animation: autoRun 20s linear infinite;
    animation-delay: calc((20s / var(--quantity)) * (var(--position) - 1));
}
.albuns-slider{
    width: 100%;
    height: var(--height);
}
.album-card img{
    width: 100%;
    height: 100%;
}
@keyframes autoRun {
    from{
        right: 100%;
    }
    to{
        right: calc(var(--width) * -1);
    }
}
.albuns-slider:hover .album-card{
    animation-play-state: paused !important;
}

.contact{
    padding-block: 3rem;
    background-color: var(--secondary-color);
}
.contact h2{
    margin-bottom: 1rem;
}
.contact p{
    width: 60%;
    margin-bottom: 2rem;
    text-align: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    width: 70%;
    margin: auto;
}
.contact-form input, textarea{
    width: 100%;
    padding: 15px 20px;

    font-size: 1.2rem;
    color: var(--text-color);

    border: 1px solid var(--border-color);
    background-color: transparent;
}

.contact-form textarea{
    height: 200px;
}
.contact-form button{
    margin-top: 1rem;
}

.sub-footer{
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 0 0 1rem;
}
.sub-footer h1{
    font-size: clamp(1.2rem, 5vw, 2rem);
}
.sub-footer p{
    width: 70%;
    margin: 0;
    padding-block: .5rem;

    text-align: justify;
    font-size: .9rem;
}
.sub-footer h2{
    font-size: clamp(1.1rem, 2vw, 1.5rem);
}

.quick-links ul{
    padding-block: .5rem;
}
.quick-links a{
    text-transform: lowercase;
    color: var(--text-color);
}
.quick-links a:hover{
    text-decoration: underline;
}

.social-icons{
    padding-block: 1rem;
}
.social-icons a{
    padding: .4rem;
    font-size: 1.9rem;
    border: 1px solid;
    color: var(--border-color);
}

.footer{
    padding-block: 1rem;
    text-align: center;
    background-color: var(--secondary-color);
}
.footer p{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer a{
    color: #fff;
}

@media screen and (min-width: 769px){
    .mobile-icon{
        display: none;
    }
    .menu-nav{
        display: block;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .member-card{
        width: 50%;
    }
    p, .contact p{
        width: 60%;
    }
    .contact-form{
        width: 50%;
    }
}

@media screen and (min-width: 992px){
    .hero{
        height: 150dvh;
    }
    .members-box{
        gap: .5;
        grid-template-areas:
            "a b b b"
            "c d d e"
            "c d d e";
        padding: 3rem;
    }
    .member-card{
        width: 100%;
    }
    .member-card:nth-child(1){
        grid-area: a;
    }
    .member-card:nth-child(2){
        grid-area: b;
    }
    .member-card:nth-child(3){
        grid-area: c;
    }
    .member-card:nth-child(4){
        grid-area: d;
    }
    .member-card:nth-child(5){
        grid-area: e;
    }
}